// Layouts

.container {
  width: 90%;
  margin: 0 auto;
  padding:60px 0;
}

.gray-bg {background-color: #f4f4f4;}

// Taking this from Alom //

.row {
  [class*="col-"] {
    padding-left: px-to-rems(10);
    padding-right: px-to-rems(10);
  }
}
