//############################################//
//################ Footer ##############//
//###########################################//

.main-footer {
	background: #FFF;
	color: $light-grey;
	font-size: px-to-ems(13);
	padding: px-to-rems(30) 0;

	.container {
		@include breakpoint(s) {
			display: block;
			margin: 0 auto;
			width: 65%;
		}
	}

	&__logo {
		height: auto;
		padding-bottom: px-to-rems(5);
		width: 70%;
	}
}
